#tweet iframe {
    border: none !important;
    box-shadow: none !important;
}

iframe {
    border: none !important;
    box-shadow: none !important;
    width: 100%;
    height: 100%;
}

.tweetbox {
    height: 100% !important;
}

.tweets {
    height: 100% !important;
    width: 100% !important;
}